@import url('https://fonts.googleapis.com/css2?family=Bonbon&family=DynaPuff:wght@400..700&display=swap');

body {
    font-family: "DynaPuff", system-ui;
    margin: 0;
    padding: 0;
    background: #fafafa url(./output.jpg) center center fixed;
    background-size: contain;
    color: #333;
}
body img
{
  height: fit-content;
}

h1, h3 {
    text-align: center;
    margin: 1rem 0;
    color: #4d582a;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 4rem;
    align-items: anchor-center;
    gap: 1rem;
    margin-top: 1rem;
}
.header img{
  width: 3rem;
}
#logo
{
    align-self: flex-start;
    flex: 3;
    gap: 1rem;
    font-family: "Bonbon", cursive;
    font-weight: 400;
    font-style: normal;

}
#logo img{
  width: 2.5rem;
}
.nav-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
    flex-wrap: nowrap;
    width: fit-content;
}
.nav-item img{
  width: 1.5rem;
}
nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: rgb(255 87 34 / 85%);
    padding: 0.6rem;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav a {
    text-decoration: none;
    color: #fbfeee;
    font-weight: 600;
    font-size: 1rem;
}

nav a:hover {
  color: #ff5722;
}

#logo a
{
    font-weight: 900;
    font-size: 1.6rem;
    line-height: 1rem;
    text-shadow: -2px 2px 2px #6d1c00;
    -webkit-text-stroke-width: thin;
    color: #fff5ec;
}

#ingredient-input , form input, form textarea
{
    display: block;
    margin: 2rem auto;
    padding: 0.5rem;
    width: 60%;
    max-width: 400px;
    border: 3px dashed #99a66e;
    border-radius: 6px;
    font-size: 1.1rem;
}

#email-input{
  display: hidden;
}

button {
    font-family: "DynaPuff", system-ui;
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease-in-out;
    display: block;
    margin: 0.5rem auto;
}

button:hover {
  background-color: #e64a19;
}

#error
{
  font-size: 1.5rem;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
  color: #fa6d3c;
  border-bottom: #ff5722 dashed 4px;
  font-weight: bold;
  border-style: dashed;
}

#results, #favoritesList {
  display: flex;
  gap: 1rem;
  margin: 2rem;
  flex-wrap: wrap;
}

.card {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  min-width: 17%;
  flex: 1;
  max-width: 17%;
}

.card:hover {
  transform: translateY(-4px);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

#recipe
{
  max-width: 67%;
  margin: 3rem auto;
  background: #f7f9f1eb;
  padding: 2rem;
  border-radius: 3%;
  border: 3px dashed #99a66e;
}

#recipe img
{
  margin: 2rem auto;
  display: block;
}

h2
{
  text-align: center;
}

ol
{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
#recipe p
{
  margin: 0 auto;
  width: 80%;
}

#recipe button
{
    padding: 0.8rem 5rem;
    margin: 3rem auto 1rem;
    font-size: 1.2rem;
}

#recipe div
{
  width: 76%;
  margin: 0 auto;
  font-size: 1.2rem;
}
label
{
    font-size: 1.3em;
}

form input, form textarea
{
  margin: 0;
  margin-top: 1em;
  width: 60%;
  max-width: revert;
}

form textarea{
  display: block;
}

#ingredients , #instructions{
  height: 12rem;
}

#login-switch{
  display: flex;
  width: 31rem;
  margin: 2rem auto;
}

.login-switch-tab{
  flex: 1;
  background: #ffffff;
  font-size: 1.3rem;
  padding: 1rem;
  border: #99a66e solid 2px;
  border-radius: 6px 0 0 6px;
}

#login-tab{
  border-radius: 6px 0 0 6px;
}

#register-tab{
  border-radius: 0 6px 6px 0;
}
.inactive{
  opacity: 0.8;
  background: none;
  transition: 0.2s ease-in-out;
}

.inactive:hover {
  background: #ffffff;
  cursor: pointer;
}

.hidden{
  display: none;
}
#login-form
{
  width: 50%;
  margin: 0 auto;
}

#email-input, #username-input, #password-input, #login-button{
  margin: 1rem auto;
  font-size: 1.3rem;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, .75);
    padding: 40px;
    overflow: auto;
}

.modal.open {
    display: block;
}

.modal-body {
    padding: 2rem;
    background: #ffffff;
    width: 53%;
    border-radius: 6px;
    margin: 10% auto;
}

body.modal-open {
    overflow: hidden;
}